body{
font-family:Arial;
padding:30px;
background:#f4f6f8;
}

h1{
text-align:center;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th,td{
border:1px solid #ccc;
padding:10px;
text-align:center;
}

th{
background:#222;
color:white;
}

.topic-row{
background:#3f51b5;
color:white;
font-weight:bold;
text-align:left;
}

.level-row{
background:#8e24aa;
color:white;
text-align:left;
}

button{
padding:5px 10px;
cursor:pointer;
}

.count{
margin:0 10px;
font-weight:bold;
}

.solved{
background:#d4edda;
}

.revisited{
background:#fff3cd;
}

.controls{
margin:15px 0;
}

.progress-bar-bg{
width:100%;
height:20px;
background:#ddd;
border-radius:10px;
overflow:hidden;
}

#progressBar{
height:100%;
width:0%;
background:#4caf50;
}

.progress-text{
margin-top:5px;
font-weight:bold;
}

.streak{
margin-top:5px;
font-weight:bold;
}

.dark{
background:#121212;
color:white;
}

.dark table{
background:#1e1e1e;
color:white;
}

.dark th{
background:#333;
}